.header {
    height: var(--header-height);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

    > div {
        width: var(--width-screen);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 15px;

        > div:first-child {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 0;
            width: 100%;

            input[type='text'] {
                border: 1px solid var(--primary-color);
                border-radius: 20px;
                padding: 10px 20px;
                outline: none;
            }
        }

        > div:last-child {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            gap: 3rem;
        }
    }
}

.list--icon {
    display: flex;
    align-items: center;
    gap: 4rem;

    > .icon {
        background-color: var(--skyblue-color);
        padding: 8px;
        border-radius: 20px;

        &:hover {
            cursor: pointer;
        }
    }
}

img {
    width: 100px;
    height: auto;
    object-fit: contain;
}

.user-container {
    position: relative;
    display: inline-block;
}

.list-btn {
    display: none;
    position: absolute;
    top: -10px;
    left: -60px;
    transform: translateY(50px);
    min-width: 150px;
    border: 1px solid rgb(243, 241, 237);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

    span {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 8px;

        &:hover {
            background-color: var(--skyblue-color);
            color: var(--white-color);
        }
    }
}

.user-icon {
    padding: 8px;
    background-color: var(--skyblue-color);
    border-radius: 20px;
    cursor: pointer;
}

.user-container:hover {
    > .list-btn:after {
        content: '';
        position: absolute;
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        cursor: pointer;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid rgb(243, 241, 237);
    }
}

.user-container:hover .list-btn {
    display: block;
}
